
h3 {
font-family: 'Courier New', Courier, monospace;
color: black;
font-size:x-large;
font-style: bold;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}